/* Grid setup */
.grid {
    display: grid;
    grid-template-rows: title about projects skills;
}

/* Intro banner */
.banner {
    grid-row: title;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.image {
    grid-column: 4 / -1;
    height: 80vh;
    margin: 0;
    background: linear-gradient(123deg, white 37%, #fad700 24%);
}

.title { 
    grid-column: 1 / span 3;
    padding: 0.4rem;
    text-align: center;
}

.banner h2 { 
    font-size: 1.67rem;
}

/* About me section */
.about {
    grid-row: about;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
}

.aboutHeading {
    grid-area: 1 / 1 / 4 / -1;
    background-image: url('../Resources/Section\ Banner.png');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 60vh;
}

.aboutHeading h2 {
    padding-top: 4rem;
}

.kwsImage {
    z-index: 2;
    grid-area: 2 / 2 / 5 / 2;
    margin-bottom: 1rem;
}

.kwsImage img {
    width: 80%;
    border: 10px solid #85ccd0;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.content {
    text-align: center;
    grid-area: 5 / 1 / -1 / -1;
    padding: 0 3rem;
}

/* Projects section */
.projects {
    grid-row: projects;
}

.projectsHeading {
    background-image: url('../Resources/Section\ Banner.png');
    background-size: cover;
    background-repeat: none;
    height: 20vh;
    margin-top: 2rem;
}

.projectsHeading h2 {
    padding-top: 2.5rem;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio figure {
    border: 3px solid #85ccd0;
    margin: 2rem;
    padding: 1rem;
}

.portfolio img {
    margin: 1rem;
}

figcaption {
    text-align: center;
}

button {
    margin-top: 1rem;
}